//项目提供scss全局变量

$base-menu-width: 260px; //左侧菜单宽度
$base-menu-background: #001529; 

$base-tabbar-height: 60px; //顶栏高度

$base-menu-logo-height: 50px; //logo高度
//$base-menu-logo-width: 150px; //logo宽度
$base-logo-title-fontSize: 30px; //logo字体大小